@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes hover{
  from{
    border-bottom:1px solid #edf5f2;
  }
  to{
    border-bottom:1px solid #3C7A89;
  }
}

.app{
  margin:0 auto;
  background-color:#fcffff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.about{
  margin:50px auto;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}

.about p{
  max-width:720px;
}

a{
  font-family: 'Special Elite', cursive;
  text-decoration: none;
  color:#3C7A89;
  font-size:15px;
}

a:hover{
  animation-name: hover;
  animation-duration:1s;
  animation-fill-mode:forward;
}

button{
  background-color:white;
  border:none;
  margin:0 50%;
  padding:10px 20px;
  font-family: 'Special Elite', cursive;
}

button:hover{
  cursor:pointer;
  background-color:#dbdbdb;
}

button:focus{
  outline:none;
}


.child{
  width:1000px;
  height:1000px; 
  margin:10px; 
  cursor: pointer;
}

.gallery_wrapper div{
  height:100%;
  margin:25px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-content:center;
}

.gallery_wrapper img{
  width:20%;
  margin:15px;
}

h1{
  color:#2C2627;
  font-family: 'Homemade Apple', cursive;
}

h2{
  font-family: 'Special Elite', cursive;
  color:#2C2627;
  font-size:36px;
}

img:hover{
  opacity:0.75;
}

li{
  margin:0 0 0 15px;
}

nav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:50%;
  max-width:1080px;
}


p{
  font-family: 'Special Elite', cursive;
  color:#2C2627;
  font-size:15px;
  line-height:1.55em;
  font-kerning:normal;
}

ul{
  display:flex;
  flex-direction:row;
  list-style: none;
  align-items:center;
  justify-content:space-between;
}
